---
import { APP_PROJECTS } from '~/utils/config';
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';
import { findLatestProjects } from '~/utils/projects';
import type { ImageMetadata } from 'astro';
import { findImage } from '~/utils/images';
import type { Widget } from '~/types';
import { getPermalink } from '~/utils/permalinks';

export interface Props extends Widget {
  count?: number;
}

const { count = 3 } = Astro.props;
const projects = APP_PROJECTS.isEnabled ? await findLatestProjects({ count }) : [];
const projectImages: ImageMetadata[] = [];

for (const project of projects) {
  const image = (await findImage(project.image)) as ImageMetadata | undefined;
  if (image) {
    projectImages.push(image);
  }
}
---

{
  APP_PROJECTS.isEnabled ? (
    <>
      <div class="flex flex-col w-full h-full gap-4 xl:gap-6 relative">
        <div class="grid grid-flow-col grid-cols-[repeat(6,100%)] w-full h-full" id="projectslider">
          {projects &&
            projects.map(({ title, excerpt, permalink, image }) => (
              <section class="relative projectslide w-full h-full flex  items-start justify-end not-prose ">
                <div class="w-full">
                  <a href={permalink}>
                    {image && (
                      <div class="relative m-auto max-w-5xl">
                        {typeof image === 'string' ? (
                          <img src={image} class="mx-auto rounded-md w-full aspect-[1.6!important] lg:aspect-[1!important] xl:aspect-[1.6!important]"
                            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                            loading="eager"
                            width={1200}
                            height={720}/>
                        ) : (
                          <Image
                          src={image}
                            class="mx-auto rounded-md w-full aspect-[1.6!important] lg:aspect-[1!important] xl:aspect-[1.6!important]"
                            widths={[400, 768, 1024, 2040]}
                            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                            loading="eager"
                            width={1200}
                            height={720}
                          />
                        )}
                      </div>
                    )}
                  </a>
                </div>
                <div class=" absolute bottom-0 left-0 p-4 sm:p-6 ">
                  <div>
                    {title && (
                      <h2 class="text-5xl md:text-4xl font-semibold leading-none leading-tighter tracking-tighter mb-2 font-heading dark:text-gray-200 hover:text-primary dark:hover:text-purple-400">
                        <a href={getPermalink(permalink, 'project')}>{title}</a>
                      </h2>
                    )}
                    {excerpt && (
                      <p class="hidden md:block text-xl text-secondary max-w-xl dark:text-blue-200 tracking-wide" set:html={excerpt} />
                    )}
                  </div>
                </div>
              </section>
            ))}
        </div>
        <div class="absolute pl-4 pt-4 md:pl-6 md:pt-6">
          <button
            id="prev"
            class="p-2 md:p-3 bg-purple-500/30 mr-2 dark:bg-purple-800/30 dark:hover:bg-purple-800/50 rounded-full hover:bg-purple-500/50 project-btnslide"
          >
            <Icon name="tabler:chevron-left" class="text-purple-500 dark:text-purple-300 w-5 h-5 md:w-6 md:h-6" />
          </button>

          <button
            id="next"
            class="p-2 md:p-3 bg-purple-500/30 dark:bg-purple-800/30 dark:hover:bg-purple-800/50 rounded-full hover:bg-purple-500/50 project-btnslide"
          >
            <Icon name="tabler:chevron-right" class="text-purple-500 dark:text-purple-300 w-5 h-5 md:w-6 md:h-6" />
          </button>
        </div>
      </div>
    </>
  ) : (
    <Fragment />
  )
}