---
import Image from '~/components/common/Image.astro';
import { getPermalink } from '~/utils/permalinks';
import type { Project } from '~/types';
export interface Props {
  project: Project;
  url: string | URL;
}

const { project } = Astro.props;
const { Content } = project;
---

<section class="py-2 lg:py-4 mx-auto">
  <article>
    <header class={project.image ? '' : ''}>
      {
        project.image ? (
          <div class="px-4 md:px-6">
            <Image
              src={project.image}
              class="max-w-full lg:max-w-[1280px] mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700 "
              widths={[400, 900]}
              sizes="(max-width: 1280px) 520px, 1280px"
              alt={project?.excerpt || ''}
              width={1280}
              height={640}
              loading="eager"
              decoding="async"
            />
          </div>
        ) : (
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
      <div class="flex flex-col lg:flex-row items-start justify-start max-w-screen-xl mx-auto">
        <div class="flex flex-col gap-2 md:gap-4 flex-1">
          <h1
            class="px-4 sm:px-6 max-w-screen-xl text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
          >
            {project.title}
          </h1>
            <div class=" justify-start items-start gap-3 inline-flex mb-2 px-4 sm:px-6 ">
              <div class="grow shrink basis-auto flex-col justify-start items-start inline-flex">
                <div class="self-stretch font-semibold ">
                  Cliente
                </div>
                <div class="self-stretch text-md">
                  {
                    project.client && (
                      <>
                        <span>{project.client}</span>
                      </>
                    )
                  }
                </div>
              </div>
              <div class="grow shrink basis-auto flex-col justify-start items-start inline-flex">
                <div class="self-stretch font-semibold">
                  Duración
                </div>
                <div class="self-stretch text-md">
                  {
                    project.duration && (
                      <>
                        <span>{project.duration}</span>
                      </>
                    )
                  }
                </div>
              </div>
              <div class="grow shrink basis-auto self-stretch flex-col justify-start items-start inline-flex">
                <div class="self-stretch font-semibold">
                  Servicio
                </div>
                <div class="self-stretch text-md">
                  {
                    project.category && (
                      <>
                        <a
                          class="capitalize hover:underline inline-block"
                          href={getPermalink(project.category, 'project-category')}
                        >
                          {project.category.replaceAll('-', ' ')}
                        </a>
                      </>
                    )
                  }
                </div>
              </div>
            </div>
        </div>
        <p
          class="max-w-screen-xl mt-4 lg:mt-2 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify flex-1"
        >
          {project.excerpt}
        </p>
      </div>
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-screen-xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px]"
    >
      {Content ? <Content /> : <Fragment set:html={project.content || ''} />}
    </div>
  </article>
</section>
