---
export interface Experience {
  title: string;
  company: string;
  date: string;
  description: string;
  isLatest?: boolean;
  downloadLink?: {
    text: string;
    url: string;
  };
}

export interface Props {
  experiences: Array<Experience>;
  title?: string;
  subtitle?: string;
}

const { experiences, title = 'Professional Experience', subtitle = 'My journey in the tech industry' } = Astro.props;
---

<div class="mx-auto max-w-6xl px-4 py-8 sm:px-6 lg:px-8 lg:py-12">

  <ol class="relative border-s border-gray-200 dark:border-gray-700">                   
    {experiences.map((experience) => (
      <li class="mb-10 ms-6">             
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"> 
          <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"> 
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/> 
          </svg> 
        </span> 
        <div class="flex flex-col sm:flex-row sm:items-center mb-1 gap-1 sm:gap-2">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{experience.title}</h3>
  <span class="text-lg text-gray-600 dark:text-gray-400">{experience.company}</span>
  {experience.isLatest && (
    <span class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300 sm:ml-3 w-fit">
      Current
    </span>
  )}
</div>

        <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-500">{experience.date}</time> 
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{experience.description}</p> 
        {experience.downloadLink && (
          <a 
            href={experience.downloadLink.url} 
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
          >
            <svg class="w-3.5 h-3.5 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/> 
              <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/> 
            </svg>
            {experience.downloadLink.text}
          </a>
        )}
      </li>
    ))}
  </ol>
</div>