---
import { Icon } from 'astro-icon/components';

export interface TabOption {
  iconName: string;
  text: string;
  darkImage?: string;
  lightImage?: string;
  link?: string;
}

const { tabs = [] } = Astro.props;
---

<script>
  const startActiveTimeout = () =>
    setInterval(() => {
      const activeTab = document.querySelector('tabs tab.active');
      if (!activeTab) {
        document.querySelector('tabs tab')?.classList.add('active');
        return;
      }

      const tabs = document.querySelectorAll('tabs tab');
      const activeTabIndex = Array.from(tabs).indexOf(activeTab);

      activeTab.classList.remove('active');
      tabs[(activeTabIndex + 1) % tabs.length].classList.add('active');

      const previews = document.querySelectorAll('[id^="tabpreview"]');
      previews.forEach((preview) => {
        preview.classList.remove('block');
        preview.classList.add('hidden');
      });
      previews[(activeTabIndex + 1) % tabs.length].classList.add('block');
      previews[(activeTabIndex + 1) % tabs.length].classList.remove('hidden');
    }, 7500);

  let clearActiveTimeout = startActiveTimeout();

  document.querySelectorAll('tabs tab').forEach((tab) => {
    tab.addEventListener('click', () => {
      document.querySelectorAll('tabs tab').forEach((otherTab) => {
        if (otherTab.id !== tab.id) {
          otherTab.classList.remove('active');
        }
      });

      tab.classList.add('active');

      const tabId = tab.id.split('-')[1];
      document.querySelectorAll('[id^="tabpreview"]').forEach((preview) => {
        if (preview.id.split('-')[1] === tabId) {
          preview.classList.add('block');
          preview.classList.remove('hidden');
        } else {
          preview.classList.remove('block');
          preview.classList.add('hidden');
        }
      });

      clearInterval(clearActiveTimeout);
      clearActiveTimeout = startActiveTimeout();
    });
  });
</script>

<div>
  <tabs
    class="w-full max-w-7xl justify-center flex flex-wrap gap-y-4 items-center mx-auto space-x-2 sm:space-x-4 md:space-x-10 text-gray-400 font-semibold"
  >
    {
      tabs.map((tab: TabOption, index: number) => (
        <tab id={`tab-${tab.text}`} class={`${index === 0 ? 'active' : ''}`}>
          <button id={`tabbutton-${tab.text}`} class="flex items-center">
            <Icon class="w-6 h-6 mr-2" name={tab.iconName} aria-hidden="true" />
            <span>{tab.text}</span>
          </button>
        </tab>
      ))
    }
  </tabs>
  <div class="w-full max-w-7xl mx-auto mt-4 2xl:px-0 px-4">
    {
      tabs.map((tab: TabOption, index: number) =>
        tab.link ? (
          <a
            href={tab.link}
            target="_blank"
            id={`tabpreview-${tab.text}`}
            class={`${index === 0 ? 'block' : 'hidden'}`}
          >
            <img src={tab.darkImage} alt={tab.text} class="hidden dark:inline rounded-xl" />
            <img src={tab.lightImage} alt={tab.text} class="inline dark:hidden rounded-xl" />
          </a>
        ) : (
          <span id={`tabpreview-${tab.text}`} class={`${index === 0 ? 'block' : 'hidden'}`}>
            <img src={tab.darkImage} alt={tab.text} class="hidden dark:inline rounded-xl" />
            <img src={tab.lightImage} alt={tab.text} class="inline dark:hidden rounded-xl" />
          </span>
        )
      )
    }
  </div>
</div>
