---
import Layout from '~/layouts/PageLayout.astro';

import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
import FAQs from '~/components/widgets/FAQs.astro';

import configuracionAMedida from '~/assets/images/configuracion-a-medida.png';
import administracionDeUsuarios from '~/assets/images/administracion-de-usuarios.png';
import personalizaPermisos from '~/assets/images/personaliza-permisos.png';
import controlAbsolutoAranceles from '~/assets/images/control-absoluto-aranceles.png';
import conveniosYDescuentos from '~/assets/images/convenios-y-descuentos.png';
import calendarioYAgenda from '~/assets/images/calendario-y-agenda.png';

const meta = {
  dontUseTitleTemplate: true,
  title: 'Administración y Configuración',
  description:
    'CIMADent ofrece un panel de administración integral para clínicas dentales. Con gestión simplificada de usuarios, configuración de permisos, manejo de aranceles, tipos de citas y convenios, junto con configuración completa de calendario y agenda.',
  ogTitle: 'Administración y Configuración en CIMADent | Gestión Eficiente de Clínicas Dentales',
  ogType: 'website',
};
---

<Layout {meta}>
  <!-- Sección Titulo -->
  <div class="px-6 py-12 sm:py-16 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-bold text-third sm:text-6xl dark:text-white">
        Transforma tu Espacio de Trabajo con CIMADent
      </h2>
      <p class="mt-6 text-lg leading-8 text-muted dark:text-slate-300">
        Descubre la clave para la eficiencia en la administración de tu clínica.
      </p>
    </div>
  </div>

  <!-- Domina con nuestro Panel de Administración Simplificado -->
  <div class="overflow-hidden py-12 sm:py-16">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4 left-col">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold text-third dark:text-white sm:text-4xl">
              Domina con nuestro panel de administración simplificado
            </p>
            <p class="mt-6 text-base leading-8 text-muted dark:text-slate-400">
              Experimenta la facilidad de administrar tu clínica con CIMADent, gracias a un panel de administración
              simplificado que pone toda la información relevante al alcance de tus manos.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:user-focus-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Diseñado para dentistas.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Disfruta de un panel intuitivo y fácil de usar, creado especialmente para profesionales dentales.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:barbell-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Información al instante.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Accede a toda la información crucial de tu clínica en un solo lugar, mejorando la eficiencia.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:arrow-fat-lines-right-duotone"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Acelera la gestión.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Mejora la administración de tu clínica con un panel de control ágil y simplificado.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-center sm:px-6 lg:px-0">
          <Picture
            class="mx-auto w-full cursor-pointer"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px)"
            aspectRatio="500:500"
            src={configuracionAMedida}
            alt="Domina con nuestro panel de administración simplificado"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Calendario y Agenda flexible -->
  <div class="overflow-hidden py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4 right-col">
          <div class="lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold text-third dark:text-white sm:text-4xl">Invita a tu equipo al futuro</p>
            <p class="mt-6 text-base leading-8 text-muted dark:text-slate-400">
              Fomenta la colaboración en tu clínica con el innovador sistema de invitación de usuarios de CIMADent, que
              facilita la integración de los miembros del equipo.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:user-plus-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Colaboración al máximo.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Invita fácilmente a tu equipo y potencia la comunicación entre todos.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:clipboard-text-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Protege tu información.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Controla quién tiene acceso a la información de tu clínica, garantizando seguridad.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon name="ph:heart-bold" class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary" />
                  Integración flawless.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Agrega usuarios rápidamente con un proceso moderno y efectivo que elimina obstáculos.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-center justify-end lg:order-first">
          <Picture
            class="mx-auto w-full cursor-pointer"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px)"
            aspectRatio="500:500"
            src={administracionDeUsuarios}
            alt="Invita a tu equipo al futuro"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Personaliza Permisos a la Perfección -->
  <div class="overflow-hidden py-12 sm:py-16">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4 left-col">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold text-third dark:text-white sm:text-4xl">
              Personaliza Permisos a la Perfección
            </p>
            <p class="mt-6 text-base leading-8 text-muted dark:text-slate-400">
              Asegura el acceso adecuado a las funcionalidades e información de la clínica con la configuración de
              permisos específicos para diferentes usuarios en CIMADent.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:arrow-circle-right-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Acceso Inteligente.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Establece qué usuarios pueden acceder a ciertas funcionalidades, maximizando la seguridad.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:selection-foreground-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Adaptabilidad.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Personaliza los permisos para satisfacer las necesidades específicas de tu clínica y equipo.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:folder-simple-lock-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Seguridad Total.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Protege la información de tu clínica al limitar el acceso según el rol del usuario, evitando riesgos
                  innecesarios.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-center sm:px-6 lg:px-0">
          <Picture
            class="mx-auto w-full cursor-pointer"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px)"
            aspectRatio="500:500"
            src={personalizaPermisos}
            alt="Personaliza Permisos a la Perfección"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Control Absoluto de Aranceles y Tipos de Citas -->
  <div class="overflow-hidden py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4 right-col">
          <div class="lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold text-third dark:text-white sm:text-4xl">
              Control Absoluto de Aranceles y Tipos de Citas
            </p>
            <p class="mt-6 text-base leading-8 text-muted dark:text-slate-400">
              Administra aranceles clínicos y de laboratorio, así como diferentes tipos de citas, con la solución
              completa de CIMADent que te brinda control total sobre servicios y precios.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon name="ph:money-bold" class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary" />
                  Flexibilidad Total.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Adapta los servicios y precios para cumplir con las necesidades específicas de tu clínica.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:chalkboard-teacher-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Consistencia y Claridad.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Crea una estructura de precios y servicios coherente para facilitar la toma de decisiones.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:gradient-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Gestión Financiera Eficaz.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Mantén un registro actualizado de tus tarifas y servicios, permitiendo una administración financiera
                  óptima.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-center justify-end lg:order-first">
          <Picture
            class="mx-auto w-full cursor-pointer"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px)"
            aspectRatio="500:500"
            src={controlAbsolutoAranceles}
            alt="Control Absoluto de Aranceles y Tipos de Citas"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Personaliza Permisos a la Perfección -->
  <div class="overflow-hidden py-12 sm:py-16">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4 left-col">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold text-third dark:text-white sm:text-4xl">Convenios y Descuentos</p>
            <p class="mt-6 text-base leading-8 text-muted dark:text-slate-400">
              CIMADent simplifica la administración de convenios y planes de descuento, brindándote la posibilidad de
              ofrecer opciones de pago atractivas y accesibles para tus pacientes.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:user-focus-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Capta más Pacientes.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Atrae a nuevos pacientes al ofrecer opciones de pago y descuentos atractivos.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:person-simple-walk-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Facilita el Acceso a Tratamientos.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Con convenios y descuentos, los pacientes encuentran mayor accesibilidad a los tratamientos dentales.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon name="ph:star-bold" class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary" />
                  Fideliza a tus Pacientes.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Los convenios y descuentos aumentan la satisfacción del paciente, fomentando la lealtad y el retorno.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-center sm:px-6 lg:px-0">
          <Picture
            class="mx-auto w-full cursor-pointer"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px)"
            aspectRatio="500:500"
            src={conveniosYDescuentos}
            alt="Personaliza Permisos a la Perfección"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Domina tu Calendario y Agenda -->
  <div class="overflow-hidden py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4 right-col">
          <div class="lg:max-w-lg">
            <p class="mt-2 text-3xl font-bold text-third dark:text-white sm:text-4xl">Domina tu Calendario y Agenda</p>
            <p class="mt-6 text-base leading-8 text-muted dark:text-slate-400">
              CIMADent te permite configurar completamente tu calendario y agenda online, mejorando la gestión de citas
              y la disponibilidad de los profesionales.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:sidebar-simple-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Organización Superior.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Administra tu agenda de manera efectiva y evita conflictos en la programación de citas.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:user-circle-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Ajusta la Disponibilidad.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Establece y modifica la disponibilidad de profesionales según las necesidades de la clínica.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-white">
                  <Icon
                    name="ph:record-bold"
                    class="absolute left-1 top-1 h-5 w-5 text-secondary dark:text-secondary"
                  />
                  Información en Tiempo Real.
                </dt>
                <dd class="inline text-muted dark:text-slate-400">
                  Mantén a tu equipo actualizado sobre la agenda y las citas en tiempo real, mejorando la eficiencia.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-center justify-end lg:order-first">
          <Picture
            class="mx-auto w-full cursor-pointer"
            width={500}
            height={500}
            widths={[400, 768]}
            sizes="(max-width: 768px)"
            aspectRatio="500:500"
            src={calendarioYAgenda}
            alt="Domina tu Calendario y Agenda"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- CTA -->
  <div class="bg-third dark:bg-dark">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold text-white sm:text-4xl">¡No esperes más!</h2>
        <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-slate-200 dark:text-slate-400">
          Descubre cómo CIMADent puede revolucionar la administración de tu clínica dental. ¡Regístrate ahora y prueba
          todas las funcionalidades gratis por 7 días!
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="https://app.cimadent.cl/register"
            class="rounded-md bg-primary dark:bg-primary px-3.5 py-2.5 text-sm font-medium text-white dark:text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >Inicia tu prueba gratuita de 7 días</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- FAQs -->
  <FAQs
    title="Preguntas frecuentes"
    subtitle=""
    highlight="FAQs"
    items={[
      [
        {
          question: '¿Cómo puedo agregar nuevos usuarios a mi clínica en CIMADent?',
          answer:
            'Para agregar nuevos usuarios a tu clínica en CIMADent, ve al panel de administración de usuarios y utiliza el sistema de invitación por correo electrónico. Los nuevos usuarios recibirán un enlace para registrarse y unirse a tu clínica.',
        },
        {
          question: '¿Cómo personalizo los permisos de los usuarios en CIMADent?',
          answer:
            'En el panel de configuración de CIMADent, puedes establecer permisos específicos para cada usuario, permitiendo o restringiendo el acceso a ciertas funcionalidades e información según su rol dentro de la clínica.',
        },
        {
          question: '¿Puedo configurar diferentes tipos de citas y servicios en CIMADent?',
          answer:
            'Sí, CIMADent te permite agregar y gestionar diferentes tipos de citas y servicios, como controles, exámenes y tratamientos, facilitando la organización de la agenda y la gestión de precios.',
        },
      ],
      [
        {
          question: '¿Cómo administro los aranceles y precios en CIMADent?',
          answer:
            'En CIMADent, puedes agregar y gestionar aranceles clínicos y de laboratorio desde el panel de administración. Esto te permite mantener un registro actualizado de tus tarifas y servicios para una gestión financiera eficiente.',
        },
        {
          question: '¿Cómo configuro convenios y planes de descuento en CIMADent?',
          answer:
            'En el panel de administración de CIMADent, puedes gestionar convenios y planes de descuento, permitiendo ofrecer opciones de pago y facilidades a tus pacientes. Esto puede ayudar a atraer nuevos pacientes y fidelizar a los actuales.',
        },
        {
          question: '¿Cómo personalizo el calendario y la agenda online en CIMADent?',
          answer:
            'CIMADent ofrece una configuración completa del calendario y la agenda online. Puedes establecer y ajustar la disponibilidad de los profesionales, asignar tipos de citas y servicios, y gestionar las citas de los pacientes en tiempo real.',
        },
      ],
    ]}
  />
</Layout>
