---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import Features2 from '~/components/widgets/Features2.astro';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://play.google.com/store/apps/details?id=com.acontplus_facturacion';

const metadata = {
  title: 'AcontPlus - Facturación Electrónica',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="center"
      links={[
        { text: 'Acerca de nosotros', href: '#about' },
        { text: 'Clientes', href: '#clients' },
        { text: 'FAQs', href: '#faqs' },
        { text: 'Precios', href: '#pricing' },
        { text: 'Contácto', href: '#contact' },
      ]}
      actions={[
        {
          text: 'Descargar',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Facturación Electrónica"
    image={{
      src: 'https://ik.imagekit.io/dett8mrqe/intro-hd-01.png?updatedAt=1731612098616',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">AcontPlus</span>: <br /> ahorre tu tiempo <span
        class="hidden xl:inline">y energía</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Una solución innovadora para facturar electrónicamente desde tu móvil en cuestión de minutos.
      </span>
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={googlePlayDownloadLink} target="_blank">
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <Features2
    id="about"
    title="¿Qué es AcontPlus?"
    subtitle="Una empresa Ecuatoriana que ofrece la aplicación de Facturación Electrónica tanto para móvil como para web. Facilitando el proceso de manera sencilla y eficiente. Nuestra lema es 'Facturar nunca fue tan fácil'."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Content
    isReversed
    items={[
      {
        title: 'Gestión de Ventas',
        description:
          'Permite registrar y monitorear ventas, gestionar clientes y productos, y generar reportes para optimizar el proceso de ventas y mejorar ingresos.',
        icon: 'tabler:wand',
      },
      {
        title: 'Facturación Electrónica',
        description:
          'Permite emitir, gestionar y almacenar facturas de manera digital cumpliendo con las normativas fiscales. Facilita el envío de facturas a los clientes y el seguimiento de pagos.',
        icon: 'tabler:settings',
      },
      {
        title: 'Gestión de Financiera y entre otros',
        description: 'Permite controlar ingresos, gastos y generar reportes para facilitar el análisis financiero.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://ik.imagekit.io/dett8mrqe/intro-hd-02-preview.png?updatedAt=1731612715515',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">¿Qué ofrecemos en AcontPlus?</h3>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="El impacto impresionante de AcontPlus"
    subtitle="Las cifras que figuran a continuación reflejan la confianza que nuestros usuarios han depositado en nosotros y los notables resultados que les hemos ayudado a conseguir."
    stats={[
      { title: 'Comp. emitidos', amount: '400k' },
      { title: 'Firmas Tramitadas', amount: '200K' },
      { title: 'Clientes', amount: '275+' },
    ]}
  />

  <!-- Testimonials Widget *********** -->
  <Testimonials
    id="clients"
    title="¿Qué dicen nuestros clientes?"
    testimonials={[
      {
        testimonial: `Sus procesos de facturación han sido mucho más rápidos y fáciles desde que utiliza nuestro software de facturación electrónica.`,
        name: '“EL CARACOL” RESTAURANT',
        job: 'Restaurante',
        image: {
          src: 'https://ik.imagekit.io/dett8mrqe/restaurant-caracol.png?updatedAt=1731620324221',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Acontplus ha simplificado por completo mi proceso de ventas. Es fácil de usar y me ha ahorrando un tiempo valioso. ¡Recomendado al 100%!`,
        name: 'ELECTROPARTES “LA JOTA”',
        job: 'Ferretería',
        image: {
          src: 'https://ik.imagekit.io/dett8mrqe/ferreteria-j.png?updatedAt=1731620324193',
          alt: 'J',
        },
      },
      {
        testimonial:
          'Desde que empecé a utilizar Acontplus, la facturación se ha vuelto mucho más eficiente. Ahora puedo crear, personalizar y enviar facturas de manera rápida y sencilla, lo que ha mejorado mi flujo de trabajo.',
        name: 'GENUINE PARTS',
        job: 'Mecánica',
        image: {
          src: 'https://ik.imagekit.io/dett8mrqe/mecanica-partes.png?updatedAt=1731620324053',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Leer más testimonios',
      href: 'https://acontplus.com.ec/clientes/',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs"
    title="Preguntas Frecuentes"
    subtitle="Cualquier duda adicional, no dudes en escribirnos."
    columns={1}
    items={[
      {
        title: 'Pruebo revisar una demostración?',
        description:
          'Sí, tenemos disponible para que usted pueda revisar todos módulos disponibles en la aplicación móvil y web, durante 1 mes y sin compromiso.',
      },
      {
        title: '¿La aplicación funciona de manera off-line?',
        description:
          'No, actualmente ninguna de nuestras aplicaciones funcionan de manera off-line. Sin embargo, como AcontPlus nos escontramos trabajando para que dentro de muy poco tiempo dispongan de esa funcionalidad.',
      },
      {
        title: '¿Puedo usar a AcontPlus App en iOS?',
        description:
          'Muy pronto! Nosotros queremos que nuestros clientes sean felices. AcontPlus App, muy pronto estará disponible para nuestros clientes que usan iOS.',
      },
      {
        title: '¿Disponemos de una aplicación web?',
        description:
          'Sí, tenemos disponible para que usted pueda revisar todos módulos disponibles y funcionalidades de la aplicación web.',
      },
      {
        title: '¿Puedo enviar a autorizar comprobantes electrónicos a SRI?',
        description:
          'Sí, desde la aplicación móvil y web usted puede enviar a autorizar comprobantes electrónicos según lo estipula el SRI.',
      },
    ]}
  />

  <Prices
    title="Nuestros precios"
    id="pricing"
    subtitle="Pague sólo por lo que necesite"
    prices={[
      {
        title: 'básica',
        subtitle: 'Óptimo para negocios pequeños',
        price: 115,
        period: 'anual',
        items: [
          {
            description: 'No hay límite en la facturación electrónica.',
          },
          {
            description: 'Tiene acceso al módulo de compras, pagos, inventario, ventas, cobros.',
          },
          {
            description: 'Configuración para 1 sucursal y 3 usuarios.',
          },
          {
            description: 'Permite el registro de hasta 1000 artículos.',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Empezar',
          href: `https://api.whatsapp.com/send?phone=593959889744&text=Hola`,
        },
      },
      {
        title: 'comercios',
        subtitle: 'Para negocios medianos',
        price: 230,
        period: 'anual',
        items: [
          {
            description: 'Sin límite en la facturación electrónica.',
          },
          {
            description: 'Acceso al módulo de compras, pagos, inventario, ventas, cobros y etc',
          },
          {
            description: 'Configuración para 2 sucursales y 3 usuarios por sucursal.',
          },
          {
            description: 'Registro de hasta 3000 artículos.',
          },
          {
            description: 'Instalación y configuración en sitio $34,5. (Valor Referencial)',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Empezar ahora',
          href: `https://api.whatsapp.com/send?phone=593959889744&text=Hola`,
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Premium',
        subtitle: 'Recomendado para negocios grandes',
        price: 345,
        period: 'anual',
        items: [
          {
            description: 'Sin límite en la facturación electrónica',
          },
          {
            description:
              'Tiene acceso al módulo de compras, pagos, inventario, ventas, cobros, importación de comprobantes electrónicos y etc.',
          },
          {
            description: 'Configuración para 2 sucursales y 3 usuarios por sucursal.',
          },
          {
            description: 'Envío de comprobantes por lotes',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Empezar',
          href: `https://api.whatsapp.com/send?phone=593959889744&text=Hola`,
        },
      },
    ]}
  />

  <Features2
    id="contact"
    title="Estamos aquí para ayudarle."
    items={[
      {
        title: 'Teléfono',
        description: '0991686066 / 0980330089',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'zaractec@acontplus.com.ec',
        icon: 'tabler:mail',
      },
      {
        title: 'Dirección',
        description: 'El Coca - Juan Montalvo y Napo. - Ecuador',
        icon: 'tabler:map-pin',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Descarga la aplicación ahora!"
    subtitle="Descarga la aplicación AcontPlus y comienza a facturar electrónica con facilidad."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={googlePlayDownloadLink} target="_blank">
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
