---
import { Icon } from 'astro-icon';

import UI from '~/config/ui';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
  altIconName?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6 md:w-5 md:h-5',
  iconName = 'tabler:sun',
  altIconName = 'tabler:moon',
} = Astro.props;
---

{
  !(UI?.defaultTheme && UI.defaultTheme.endsWith(':only')) && (
    <label class={className} aria-label={label} data-aw-toggle-color-scheme>
      <input type="checkbox" checked style="appearance: none;" />
      <Icon name={iconName} data-aw-sun class={iconClass} />
      <Icon name={altIconName} data-aw-moon class={iconClass} />
    </label>
  )
}

<style is:inline>
  [data-aw-toggle-color-scheme] {
    position: relative;
    user-select: none;
    cursor: pointer;
  }
  [data-aw-toggle-color-scheme] > * {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
  }
  [data-aw-toggle-color-scheme] input {
    appearance: none;
  }
  [data-aw-toggle-color-scheme] [data-aw-sun] {
    opacity: 0;
  }
  [data-aw-toggle-color-scheme] [data-aw-moon] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  [data-aw-toggle-color-scheme] input:checked ~ [data-aw-moon] {
    opacity: 0;
  }
  [data-aw-toggle-color-scheme] input:checked ~ [data-aw-sun] {
    opacity: 1;
  }
</style>
