---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { CallToAction } from '~/types';

const {
  variant = 'secondary',
  target,
  text = Astro.slots.render('default'),
  icon = '',
  class: className = '',
  type,
  onClick,
  ...rest
} = Astro.props as CallToAction;

const variants = {
  primary: 'btn-primary',
  secondary: 'btn-secondary',
  tertiary: 'btn btn-tertiary',
  link: 'cursor-pointer hover:text-purple-600 dark:hover:text-purple-300',
};
---

{
  type === 'button' || type === 'submit' || type === 'reset' ? (
    <button type={type} onclick={onClick}  class={twMerge(variants[variant] || '', className)} {...rest}>
      <Fragment set:html={text} />
      {icon && <Icon name={icon} class="w-6 h-6 ml-2 -mr-2  rtl:mr-1 rtl:-ml-1.5 inline-block" />}
    </button>
  ) : type === 'icon' ? (
  <button type={type} onclick={onClick}  class={twMerge(variants[variant] || '', className)} {...rest}>
      {icon && <Icon name={icon} class="w-6 h-6  inline-block" />}
    </button>
  ): (
    <a
      class={twMerge(variants[variant] || '', className)}
      {...(target ? { target: target, rel: 'noopener noreferrer' } : {})}
      {...rest}
    >
      <Fragment set:html={text} /> 
      {icon && <Icon name={icon} class="w-6 h-6 ml-2 -mr-2 rtl:mr-1 rtl:-ml-1.5 inline-block" />}
    </a>
  )
}
